<h1><%= @cocktail.name %></h1>

<!-- <p>You need: <%= @cocktail.doses %> of <%= @cocktail.ingredients %></p> -->
<%= link_to 'Back to cocktails list', cocktails_path %>
<%= link_to 'Create a new dose', new_cocktail_dose_path(@cocktail) %>
